@model IEnumerable<System.Security.Claims.Claim>
@{
    ViewData["Title"] = "CLAIMS";
}

<h2 class="m-1 p-1 text-dark">Claims</h2>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th class="bg-primary text-white">Subject</th>
        <th class="bg-primary text-white">Issuer</th>
        <th class="bg-primary text-white">Type</th>
        <th class="bg-primary text-white">Value</th>
        <th class="bg-primary text-white">Delete</th>
    </tr>

    @foreach (var claim in Model.OrderBy(x => x.Type))
    {
        <tr>
            <td class="p-2">@claim.Subject.Name</td>
            <td class="p-2">@claim.Issuer</td>
            <td class="p-2">@claim.Type</td>
            <td class="p-2">@claim.Value</td>
            <td class="p-2">
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="claimValues" value="@claim.Type;@claim.Value;@claim.Issuer" />
                    <button type="submit" class="btn btn-sm btn-danger">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<a asp-action="Create" class="btn btn-secondary">Create a Claim</a>


