@model IEnumerable<Identity.Models.Cost>

@{
    ViewData["Title"] = "Index";
}

<h1 class="p-10">All Costs</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table id="table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabourCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StageId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabourCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialCost)
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery/jquery.slim.min.js"></script>
<script src="~/lib/jquery/jquery.slim.js"></script>
<script src="~/lib/jquery/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#table').dataTable();
    })
</script>